[include]
    path= ~/.gitconfig.local

[core]
	excludesfile = ~/.gitignore_global
	safecrlf = true
    ignorecase=false

[color]
	ui = auto

[fetch]
	prune = true

[alias]
	a = add
	ap = add -p
	b = branch
	c = commit
	cm = commit -m
	ca = commit --amend
    can = commit --amend --no-edit
	co = checkout
	cob = checkout -b
	d = diff
    dc = diff --cached
    dn = diff --name-only
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
	l = log
    lc = git rev-list --count HEAD ^master
	lg = log --graph --oneline --decorate=full
	# lg log --graph --date=iso --pretty='[%ad]%C(auto) %h%d %Cgreen%an%Creset : %s'
	lp = log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --numstat
	p = push
	ba = branch -a
	bm = branch -m
    rebase-from-master = git rebase -i HEAD~$(git rev-list --count HEAD ^master)
	s = status

[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[init]
	templateDir = /Users/kawadzukenya/.git-templates/git-secrets

[ghq]
	root = ~/work/go/src
